<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MY first Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My First Ionic App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/space.png" alt="">
      <ion-card-subtitle>Hello world </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Hey !!! 👋
      just create my first angular app.
      The app consists of two basic screens namely the Login and the Home screen.
      Once you login through you will be redirected to this screen.
      I learnt about ionic UI components and Routing in this project😷
    </ion-card-content>
  </ion-card>
</ion-content>
